<!--The whole content below can be removed with the new code.-->
<nav class="navbar navbar-expand navbar-light bg-light">
  <img class="project-logo" src="../assets/images/projectlogo.PNG">
  <a class="navbar-brand">{{title}}</a>
<ul class="nav nav-pills">
  <li style="padding-right:20px"><a [routerLink]="['/welcome']">Home</a></li>
  <li style="padding-right:20px"><a [routerLink]="['/aboutUs']">About Us</a></li>
  <!-- <li style="padding-right:20px"><a [routerLink]="['/contactus']">Contact Us</a></li> -->
</ul>
</nav>
<div class="container">
<router-outlet></router-outlet>
</div>

